.game-over-modal-main {
  position:fixed;
  width: 75vw;
  height: 30vh;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background: black;
  color: white;
  animation-name: gameOverBorder;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.game-over {
    font-size: 2em;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}


.high-score {
    font-size: 1.5em;
    text-decoration: underline;
}

.play-again {
    margin-bottom: 10px;
    font-size: 1.25em;
    border: 1px solid white;
    border-radius: .25rem;
    padding: .5rem;

}


.high-score-list-container {
    width: 50%;
    height: 80%;
    /* border: 1px solid red; */
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.high-score-container {
    width: 50%;
    height:80%;
    /* border: 1px solid red; */
    margin-right: 5px;
    display: flex;
    flex-direction: column;  
    justify-content: flex-start;
}

 @keyframes gameOverBorder {
  from { border: 8px solid black; }
  to {  border: 8px solid gold;}
}

@keyframes gameOverInside {
    to { background: peachpuff; color: black; }
    from { background:  black; color: white;}
}

.submit {

    background: black;
    color: white;

    margin-bottom: 10px;
    font-size: 1em;
    border: 1px solid white;
    border-radius: .25rem;
    padding: .5rem;

}


.button-primary {
    font-size: 1em;
    padding: 1em 1em;
    border: 1px solid black;
    box-shadow: teal;
    border-radius: 3px;
    background: grey;
    color: white;
    text-shadow: 1px 1px teal;
    font-style: italic;
  }
  
  
  
    
  
  div {
    text-align: center;
  }
  
  .fade {
    opacity: 1;
  }
  
  .fade.hide-opacity {
    opacity: 0;
    -o-transition: opacity 3s ease-in-out;
  }
  
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
  }
  
  .modal-main {
    border-radius: 5px;
    border: 5px solid grey;
    position:fixed;
    background: white;
    width: 30%;
    height: 30%;
    top: 20%;
    left: 20%;
    transform: translate(-50%,-50%);
    
  }
  
  .game-over-modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  
  }
  
  