.button-primary {
  font-size: 1em;
  padding: 1em 1em;
  border: 1px solid black;
  box-shadow: teal;
  border-radius: 3px;
  background: grey;
  color: white;
  text-shadow: 1px 1px teal;
  font-style: italic;
}

@media only screen and (max-width: 755px) {
  body {
    background-color: orange;

  }
  .simon-says-grid {
    grid-template-columns: 1fr 250px 250px 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .simon-says-circle {
   grid-row: 2;
   grid-column: 2;
  }

  .button-primary {
    grid-column: 1;
    grid-row: 1
  }

  .simon-says-bulletin {
    grid-column: 2;
    grid-row: 1;
    font-size: 2em;
    padding: 1em 1em;
    color: white;
    text-shadow: 1px 1px teal;
    font-style: italic;
  }

  .green {
    grid-row: 2;
    grid-column: 2;
  }

  .red {
    grid-row: 2;
    grid-column: 3;
  }
  .yellow {
    grid-row: 3;
    grid-column: 2;
  }
  .blue {
    grid-row: 3;
    grid-column: 3;
  }


}

.legend-open-button {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.simon-says-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height: 100vh;
  justify-items: center;
  align-items: center;
}

.simon-says-circle {
  grid-column: 3 / span 8;
  grid-row: 4 / span 5;
}







.simon-says-bulletin {
  grid-column: 3 / span 8;
  grid-row: 1;
  font-size: 35px;
  text-shadow: 3px 3px teal;
  font-style: italic;
}

div {
  text-align: center;
}

.fade {
  opacity: 1;
}

.fade.hide-opacity {
  opacity: 0;
  -o-transition: opacity 3s ease-in-out;
}

.black {
  background-color: black
}
.start-button {
  grid-column: 3 / span 2;
  grid-row: 4;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.6); */
}

.modal-main {
  border-radius: 5px;
  border: 5px solid grey;
  position:fixed;
  background: white;
  width: 30%;
  height: 30%;
  top: 20%;
  left: 20%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.game-over-modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.game-over-modal-main {
  position:fixed;
  width: 80vw;
  height: 50vh;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border: 5px solid black;
  background-color: palegoldenrod;
}

.button:hover {
  content: 'Press L'
}