.simon-says-grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-areas: repeat(12, 1fr);
  height: 100vh;
}

.simon-says-circle {
  grid-column: 4 / span 3;
  grid-row: 4 / span 2;
}

.fade {
  opacity: 1;

}

.fade.hide-opacity {
  opacity: 0;
  -o-transition: opacity 3s ease-in-out;
}

.blue-piece {
  fill: blue;
}
