

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.simon-says-grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-areas: repeat(12, 1fr)
}

.simon-says-circle {
  grid-column: 4 / span 6;
  grid-row: 6;
}
/* .simon-says-bulletin {
  grid-column: 4 / span 6;
  grid-row: 1 / span 3;
} */

/*
div svg path:nth-child(2){
  fill: #000000;
}

div svg path:nth-child(3){
  fill: #111111 !important;
} */
