.start-button {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 10;
  font-size: 10em;

}

/* .start-button-container {
  display: flex
} */

.game-top {
  height: 100vh; 
  width: 100vw; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-around;
}

.bulletin-container {
  display: flex; 
  flex-direction: column; 
  justify-content: center
}